*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(#F9F9F9 0 10%, #fff 20%);
}

h1 {
  font-size: 7rem;
  font-weight: 500;
  line-height: 7rem;
  letter-spacing: 0%;
  color: #323232;
  margin: 3.6rem 0;
}

.hero_text-p {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 10.5%;
  color: #323232;
  opacity: 50%;
}

.collection_title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 100%;
}

.collection_text {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

.girls_span {
  color: #FBD103;
}

.boys_span {
  color: #004743;
}

.kids_wrapper p {
  font-size: 8rem;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}
.kids_wrapper span {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
  color: #004743;
}

.kids_title {
  font-size: 6rem;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 100%;
}

.title_text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  opacity: 50%;
}

.list_item {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
}

.card {
  color: #323232;
}
.card_tag {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  opacity: 50%;
}
.card_title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 100%;
}
.card_price-new {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  color: #74CA4D;
}
.card_price-old {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: line-through;
  opacity: 30%;
}

.brands {
  color: #fff;
}
.brands_title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 100%;
}
.brands_text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  margin-top: 1.3rem;
  margin-bottom: 6.4rem;
}
.brands_text span {
  color: #FBD103;
  font-weight: 500;
}

.reviews_text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: 5%;
  margin-bottom: 2.2rem;
}

.author {
  font-size: 2rem;
  font-weight: 700;
  line-height: 139%;
}

.footer_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
}

.logo_footer {
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
  color: #004743;
}
.logo_footer_era {
  color: #FBD103;
}

.footer_text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 139%;
  letter-spacing: 5%;
}

.mb-10 {
  margin-bottom: 10rem;
}

.hero_img {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.hero_img-bg {
  position: relative;
  height: 55.1rem;
  width: 66.7rem;
  z-index: 1;
  mix-blend-mode: luminosity;
}
.hero_img-1 {
  position: absolute;
  z-index: 2;
  height: 51.7rem;
  width: 24.4rem;
  top: 6rem;
  left: 11.5rem;
  transform: translateY(-50%, -50%);
}
.hero_img-2 {
  position: absolute;
  z-index: 3;
  height: 65.9rem;
  width: 22.3rem;
  top: 2rem;
  transform: translateY(-50%, -50%);
}
.hero_img-3 {
  position: absolute;
  z-index: 2;
  height: 53.2rem;
  width: 25.4rem;
  top: 7rem;
  right: 7rem;
  transform: translateY(-50%, -50%);
}

.hero_text {
  width: 40%;
  align-items: center;
}

.btn {
  border: none;
  outline: none;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  background-color: #004743;
  padding: 2.4rem 6.4rem;
}

.features_box {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1rem;
}
.features_box-icon {
  font-size: 4rem;
  color: #74CA4D;
  grid-column: 1/2;
  grid-row: 1/span 2;
  transform: translateY(-0.5rem);
}
.features_box-icon_wrapper {
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  column-gap: 1.5rem;
}
.features_box-title {
  font-size: 1.7rem;
}
.features_box-text {
  font-size: 1.4rem;
  color: #323232;
  opacity: 60%;
}

.collection {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.collection_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 4.4rem;
}

.girls {
  background: linear-gradient(to left, #58C4E4, #6CDDFF);
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.girls img {
  height: 100%;
  width: 24rem;
}

.boys {
  background: linear-gradient(to left, #FBD103, #FFE14B);
  grid-column: 2/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #004743;
}
.boys img {
  height: 100%;
  width: 32.4rem;
}

.kids {
  position: relative;
  background: linear-gradient(to left, #EDEEF2, #ECF0F3);
  border: 2px solid #78C750;
  grid-column: 1/-1;
  grid-row: 2/span 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kids::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(50% 50% at center, #EBDAE2 0% 80%, rgba(0, 0, 0, 0) 81% 100%);
  background-size: 11.3rem 11.3rem;
  z-index: 1;
  mix-blend-mode: luminosity;
  opacity: 50%;
}
.kids_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 49.3rem;
  width: 50%;
  padding: 4.4rem;
  z-index: 4;
}
.kids_wrapper_text {
  background-color: #FBD103;
  width: 42.4rem;
  height: 18.7rem;
  clip-path: polygon(0 0, 92% 13%, 100% 78%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kids_bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 52.7rem;
  width: 63.7rem;
  z-index: 3;
  opacity: 40%;
  filter: brightness(70%);
}
.kids_baby {
  position: absolute;
  top: -0.5rem;
  right: 8rem;
  height: 51.3rem;
  width: 44.5rem;
  z-index: 4;
}

.cta {
  border: none;
  outline: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 100%;
  color: #323232;
  background-color: #fff;
  padding: 1.5rem 4.4rem;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
}
.list_item {
  opacity: 50%;
  border: 1px solid #323232;
  border-radius: 100rem;
  width: 9.9rem;
  padding: 1.2rem;
  text-align: center;
}
.list_item, .list_item a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}
.list_item-active, .list_item a-active {
  background: #FBD103;
  border: 1px #FBD103;
  opacity: 100%;
}

.card_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  width: 100%;
  justify-self: center;
  align-items: center;
}

.card {
  max-width: 31.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.3rem;
  margin-bottom: 6rem;
  justify-self: center;
}
.card_img_wrapper {
  position: relative;
}
.card_img {
  height: 32.2rem;
  width: 31.2rem;
  max-width: 100%;
  border: 2px solid #78C750;
  border-radius: 2rem;
}
.card_icon_wrapper {
  position: absolute;
  top: 11.3rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.card_icon_wrapper span {
  background-color: #fff;
  padding: 1rem;
  border-radius: 100%;
}
.card_tag_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card_stars_wrapper svg:not(:last-child) {
  fill: #FBD103;
}
.card_stars_wrapper svg:not(:last-child) path {
  stroke: #FBD103;
}
.card_price_wrapper {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}

.arrow-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 2.14rem;
  opacity: 50%;
}
.arrow-wrapper_left, .arrow-wrapper_right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #323232;
  border-radius: 100%;
  padding: 2rem 1.5rem;
  cursor: pointer;
}
.arrow-wrapper .left-arrow {
  transform: rotate(-180deg);
}

.brands_wrapper {
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
  margin-bottom: 1.6rem;
}
.brands_wrapper img {
  width: 16.6rem;
  height: 8rem;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  margin-top: 7rem;
}

.review_card_wrapper {
  filter: drop-shadow(1px 1px 11px rgba(0, 0, 0, 0.09));
}

.reviews_card {
  width: 112rem;
  height: 31rem;
  background-color: #FEFEFE;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 11px 9px rgba(0, 0, 0, 0.09);
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1.9rem;
  margin: 6.6rem;
}
.reviews_card img {
  height: 28.6rem;
  width: 33.5rem;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.reviews_card_wrapper {
  width: 57rem;
  grid-column: 2/-1;
  grid-row: 1/-1;
}
.reviews_card_arrows {
  justify-self: end;
}

.container {
  display: grid;
  grid-template-rows: 9rem repeat(8, min-content);
  grid-template-columns: repeat(8, minmax(min-content, 132rem));
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #F9F9F9;
  grid-column: 2/-2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero {
  position: relative;
  background-color: #F9F9F9;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(50, 50, 50, 0.1);
}

.features {
  grid-column: 2/-2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.collections {
  grid-column: 2/-2;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 2.4rem;
  row-gap: 2.6rem;
}

.new-arrivals,
.trending-collections {
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.brands {
  background-color: #004743;
  grid-column: 3/-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-radius: 3rem;
}

.reviews {
  background-color: #F9F9F9;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #fff;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%;
  color: #004743;
}
.logo_span {
  color: #FBD103;
}

.menu {
  flex: 0 1 47.5rem;
  position: relative;
}
.menu_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu_item, .menu_item a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
  color: #323232;
  justify-content: space-between;
}
.menu_notification {
  position: absolute;
  top: -1.4rem;
  right: 11.4rem;
}
.menu_notification img {
  height: 1.83rem;
  width: 3.6rem;
}

.form {
  position: relative;
}
.form_input {
  width: 29.2rem;
  height: 5rem;
  padding: 1.7rem;
  background-color: rgba(229, 229, 229, 0.8784313725);
  border: none;
  border-radius: 4rem;
  outline: none;
}
.form_input::placeholder {
  color: #000000;
  font-size: 1.4rem;
  line-height: 100%;
  opacity: 30%;
}
.form_label {
  display: none;
}
.form_button {
  border: none;
  outline: none;
  position: absolute;
  padding: 1.15rem 0;
  right: 1.5rem;
  top: 2.5rem;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
}

.user {
  width: 18.4rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}
.user_notification {
  font-size: 1.2rem;
  color: #323232;
  background-color: #FBD103;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  position: absolute;
  top: -1.2rem;
  left: 1.5rem;
}
.user_notification-2 {
  top: -1.1rem;
  left: 9.5rem;
}
.user_profile {
  align-self: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.form_container img {
  height: 14.1rem;
  width: 14.1rem;
}
.form_container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.form_container .subscribe-form {
  position: relative;
  width: 77.1rem;
  height: 13rem;
}
.form_container .subscribe-form input {
  width: 100%;
  height: 13rem;
  outline: none;
  border: none;
  background-color: #F7F7F7;
  border-radius: 100rem;
  padding: 4.8rem;
}
.form_container .subscribe-form input::placeholder {
  font-size: 2.5rem;
  font-weight: 400;
  opacity: 50%;
}
.form_container .subscribe-form button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #FBD103;
  outline: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  padding: 2.6rem;
}
.form_container_icon_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.form_container_icon_wrapper span {
  background-color: #F3F3F3;
  height: 5.1rem;
  width: 5.1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list_container {
  display: flex;
  flex-direction: row;
  column-gap: 13rem;
  align-items: start;
  justify-content: center;
}

.logo_container {
  display: flex;
  flex-direction: column;
  width: 36rem;
  gap: 2.2rem;
  padding-top: 3rem;
}

.footer_list ul {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 217%;
  list-style: none;
}
.footer_list ul li a {
  text-decoration: none;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
