//Color Variables

$color-primary: #004743;
$color-primary-light: #78C750;
$color-green-price: #74CA4D;

$color-primary-yellow: #FBD103;
$color-secondary-yellow: #FFE14B;

$color-blue-dark: #58C4E4;
$color-blue-light:#6CDDFF;

$color-white: #fff;

//FONT

$font: 'Ubuntu', sans-serif;

//FONT COLORS

$color-common-font: #323232;
$color-black:#000000;

//BACKGROUNDS

$color-gray:#F7F7F7;
$color-gray-light: #F9F9F9;
$color-gray-dark: #E5E5E5E0;
$color-gray-line: #C2C2C2;

$color-bg-gray-dark: #EDEEF2;
$color-bg-gray-light: #ECF0F3;
$color-ellipse: #EBDAE2;

//Border

$border-green: 2px solid $color-primary-light;