.container {
    display: grid;
    grid-template-rows:  9rem repeat(8, min-content);
    grid-template-columns: repeat(8, minmax(min-content, 132rem));


    justify-content: center;
    align-items: center;
}

.header{

    background-color: $color-gray-light;
    grid-column: 2 / -2;
    @include flex-space(space-between);
}

.hero{
    position: relative;
    background-color: $color-gray-light;
    grid-column: 1 / -1;

    @include flex-space(space-evenly);

    border-top: 1px solid rgba($color-common-font, 0.1);

}
.features{
    grid-column: 2 / -2;

    @include flex-space(space-evenly);
}

.collections {   
    grid-column: 2 / -2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2.4rem;
    row-gap: 2.6rem;
}

.new-arrivals,
.trending-collections {    
    grid-column: 2 / -2;
    @include flex-col;
    row-gap: 3rem;
}

.brands{
    background-color: $color-primary;
    grid-column: 3 / -3;

    @include flex-col;

    padding: 4rem;
    border-radius: 3rem;
}

.reviews{
    background-color: $color-gray-light;
    grid-column: 1 / -1;

    @include flex-col;
}


.footer{
    background-color: $color-white;
    grid-column: 1 / -1;

    @include flex-col;
}