//img section in Hero

.hero_img {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    &-bg {
        position: relative;
        height: 55.1rem;
        width: 66.7rem;
        z-index: 1;
        mix-blend-mode: luminosity;
    }

    &-1{
        position: absolute;
        z-index:2;
        height: 51.7rem;
        width: 24.4rem;
        top: 6rem;
        left: 11.5rem;
        transform: translateY(-50%, -50%);
    }

    &-2{
        position: absolute;
        z-index: 3;
        height: 65.9rem;
        width: 22.3rem;
        top: 2rem;
        transform: translateY(-50%, -50%);
        
        
    }

    &-3{
        position: absolute;  
        z-index:2;
        height: 53.2rem;
        width: 25.4rem;
        top: 7rem;
        right: 7rem;
        transform: translateY(-50%, -50%);
    }
}

.hero_text {
    width: 40%;
    align-items: center;
}

.btn{
    border: none;
    outline:none;
    border-radius: 10rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    color: $color-white;
    background-color: $color-primary;
    padding: 2.4rem 6.4rem;
}

//Features Box


.features_box {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;

    &-icon{
        font-size: 4rem;
        color: $color-green-price;
        grid-column: 1 / 2;
        grid-row: 1 / span 2 ;
        transform: translateY(-.5rem);

        &_wrapper{
            grid-column: 2 / 4;
            display: flex;
            flex-direction: column;
            column-gap: 1.5rem;

        }
        
    }

    &-title{
        
        font-size: 1.7rem;
    }

    &-text{
        
        font-size: 1.4rem;
        color: $color-common-font;
        opacity: 60%;
    }
}


//Collections Section

.collection {
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    
    

    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

        width: 50%;
        height: 100%;
        padding: 4.4rem;
        
    }

}

.girls {
    background: linear-gradient(to left, $color-blue-dark, $color-blue-light);
    grid-column: 1 / 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-white;

     img {
        height: 100%;
        width: 24rem;
    }
    
}

.boys{
    background: linear-gradient(to left, $color-primary-yellow, $color-secondary-yellow);
    grid-column: 2 / -1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-primary;

     img {
        height: 100%;
        width: 32.4rem;
    }
}

.kids {
    position: relative;
    background: linear-gradient(to left, $color-bg-gray-dark, $color-bg-gray-light);

    border: $border-green;
    grid-column: 1 / -1;
    grid-row: 2 / span 6;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    &::after {
        position: absolute;
        content:'';
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        background-image: radial-gradient(50% 50% at center, $color-ellipse 0% 80%,#0000 81% 100%);
        background-size: 11.3rem 11.3rem;
        z-index: 1;
        mix-blend-mode: luminosity;
        opacity: 50%;
    }

    &_wrapper{
        position:relative;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;

        height: 49.3rem;
        width: 50%;
        padding: 4.4rem;
        z-index: 4;


        &_text {
            background-color: $color-primary-yellow;
            width: 42.4rem;
            height: 18.7rem;
            clip-path: polygon(0 0, 92% 13%, 100% 78%, 0% 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    

    &_bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 52.7rem;
        width: 63.7rem;
        z-index: 3;
        opacity: 40%;
        filter: brightness(70%);
    }

    &_baby{
        position: absolute;
        top: -.5rem;
        right: 8rem;
        height: 51.3rem;
        width: 44.5rem;
        z-index: 4;
    }



}

.cta {
    border: none;
    outline:none;
    border-radius: 10rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 100%;
    color: $color-common-font;
    background-color: $color-white;
    padding: 1.5rem 4.4rem;
}


//New Arrivals & Trending Collections Sections
.list {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;

    &_item{
        opacity: 50%;
        border: 1px solid $color-common-font;
        border-radius: 100rem;
        width: 9.9rem;
        padding: 1.2rem;
        text-align: center;
    }

    &_item,
    &_item a {
        color: inherit;
        text-decoration: none;
        list-style-type: none;

        &-active{
            background: $color-primary-yellow;
            border: 1px  $color-primary-yellow;
            opacity: 100%;
        }
    }
}


.card_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;

    width: 100%;
    justify-self: center;
    align-items: center;
}

.card {
    max-width: 31.2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1.3rem;
    margin-bottom: 6rem;
    justify-self: center;

    &_img_wrapper{
        position: relative;
    }

    &_img {
        
        height: 32.2rem;
        width: 31.2rem;
        max-width: 100%;
        border: $border-green;
        border-radius: 2rem;
    }

    &_icon_wrapper {
        position: absolute;
        top: 11.3rem;
        right: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        span {

            background-color: $color-white;
            padding: 1rem;
            border-radius: 100%;

        }
    }

   

    &_tag_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &_stars_wrapper {

        svg:not(:last-child){
            fill: $color-primary-yellow;
            

            & path {
                stroke: $color-primary-yellow;
            }
        }
    }

     &_price_wrapper{
        display: flex;       
        align-items: center;
        column-gap: 1.3rem;
    }
}

.arrow-wrapper {

    display: flex;
    flex-direction: row;
    column-gap: 2.14rem;
    opacity: 50%;

    &_left,
    &_right{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $color-common-font;
        border-radius: 100%;
        padding: 2rem 1.5rem;
        cursor: pointer;
    }

    .left-arrow {

        transform: rotate(-180deg);

    }
}


.brands_wrapper {
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
    margin-bottom: 1.6rem;

    & img {
        width: 16.6rem;
        height: 8rem;
    }
}

//REVIEWS SECTION

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;

    margin-top: 7rem;
}

.review_card_wrapper{
    filter: drop-shadow(1px 1px 11px rgba(0, 0, 0, 0.09));
}

.reviews_card {
    width: 112rem;
    height: 31rem;
    background-color: $color-gray-review;
    
    border-radius: .3rem;
    box-shadow: 1px 1px 11px 9px rgba(0, 0, 0, 0.09); 
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
    
    display:grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding: 1.9rem;
    margin: 6.6rem;

    & img {
        height: 28.6rem;
        width: 33.5rem;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }


    &_wrapper{
        width: 57rem;
        grid-column: 2 / -1;
        grid-row: 1 / -1;

    }

    &_arrows{
        
        justify-self: end;
    }
}

//Footer 

.form_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

    margin-bottom: 10rem;

    img {
        height: 14.1rem;
        width: 14.1rem;
    }

    &_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
    }

        .subscribe-form{
            position: relative;
            width: 77.1rem;
            height: 13rem;

            input {
                width:100%;
                height: 13rem;
                outline: none;
                border:none;
                background-color: $color-gray;
                border-radius: 100rem;
                padding: 4.8rem;

                &::placeholder{
                    font-size: 2.5rem;
                    font-weight: 400;
                    opacity: 50%;
                }
            }
            button{
                
                position: absolute;
                top: 1rem;
                right:1rem;
                background-color: $color-primary-yellow;
                outline: none;
                border:none;
                border-radius: 100%;
                cursor: pointer;
                padding: 2.6rem;
            }
        }
    

    &_icon_wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 3.5rem;

        span {
            background-color:$color-grey-footer-icons;
            height: 5.1rem;
            width: 5.1rem;
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }
    }

}



.list_container{
    display: flex;
    flex-direction: row;
    column-gap: 13rem;

    align-items: start;
    justify-content: center;

    margin-bottom: 10rem;

}

.logo_container{
    display: flex;
    flex-direction: column;
    width: 36rem;
    gap: 2.2rem;

    padding-top: 3rem;
}

.footer_list{

    ul {
        list-style: none;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 217%;

        li a { 
            text-decoration: none;
            color: $color-black;
        }
    }
}