//Hero Section's Text Items

h1 {
    @include font(7rem, 500, 7rem);
    letter-spacing: 0%;
    color: $color-common-font;
    
    margin: 3.6rem 0;
}

.hero_text-p{
    @include font(2.5rem, 400, 2.5rem);
    letter-spacing: 10.5%;
    color: $color-common-font;
    opacity: 50%;
}

//Collections
.collection_title {
    @include font(4.5rem, 700, 100%);
}

.collection_text {
    @include font(2.5rem, 500, 100%);
    color: $color-white;
}

.girls_span{color: $color-primary-yellow}
.boys_span{color: $color-primary}

.kids_wrapper{
    p {
        @include font(8rem, 700, 100%);
        color: $color-black;
        
    }

    span {
        @include font(2.5rem, 400, 100%);
        color: $color-primary;
        
    }

}

.kids_title{
    @include font(6rem, 400, 100%);
    color: $color-black;
}

//New Arrivals & Trending Collections Sections

.title {
    @include font(6rem, 700, 100%);
}

.title_text {
        @include font(2rem, 400, 100%);
        opacity: 50%;
}

.list_item{
        @include font(1.5rem, 400, 100%);
}

.card {
    color: $color-common-font;

    &_tag{
        @include font(2rem, 400, 100%);
        opacity: 50%;
    }

    &_title {
        @include font(2.5rem, 500, 100%);
    }

    &_price-new{
        @include font(3rem, 700, 100%);
        color: $color-green-price;
    }

    &_price-old {
            @include font(2.4rem, 400, 100%);
            text-decoration-line: line-through;
            opacity: 30%;
    }

}

//BRANDS SECTION

.brands {

    color: $color-white;

    &_title{
        @include font(5rem, 700, 100%);
    }

    &_text {
        @include font(2rem, 400, 100%);
        margin-top: 1.3rem;
        margin-bottom: 6.4rem;


        & span {
            color: $color-primary-yellow;
            font-weight: 500;;
        }
    }
}

//REVIEWS Section

.reviews_text{
    @include font(2rem, 400, 139%);
    letter-spacing: 5%;
    margin-bottom: 2.2rem;
}

.author{
    @include font(2rem, 700, 139%);
}


//FOOTER

.footer_title {
    @include font(3rem, 700, 100%);
}

.logo_footer{
    @include font(4rem, 700, 100%);
    color: $color-primary;

    &_era {
        color: $color-primary-yellow;
    }
}

.footer_text{  
    @include font(2rem, 400, 139%);
    letter-spacing: 5%;
}